{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Record Dashboard</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Created At</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.first_name }}</td>
                <td>{{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address}}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.state }}</td>
                <td>{{ record.zipcode }}</td>
			    <td>{{ record.created_at }}</td>
                <!-- Display more fields as needed -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'logout' %}">Logout</a>

{% endblock %}